/*body {
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
  }*/

  .redes{
    height: 100px;
    margin-top: 20%;
    width: 100%;
display: flex;
justify-items: center;
justify-content: center;
background-color: azure;

}

h6{
    display: flex;
    align-items: center;
}